@use './buttons.scss';
@use './new-movie-page.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
h1, h2 {
  text-transform: uppercase;
}

img.moodflix-logo {
  width: 10rem;
}


.movies-container {
  max-width: 1055px;  
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: 1.5rem auto;
}

.individual-movies-container {
  // border: 1px solid #BDBDBD;
  border-radius: 0.75rem;
  flex-basis: 23%;
  margin: .5rem;
  padding: 1.25rem;
  height: auto;
  font-size: 12px;
  align-items: center;
  background: white;
  color: black;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);

    
    img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    object-fit: cover;
    width: 10rem;
  }

  .movie-image-holder {
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .overflow-text {
    height: 4.5em; 
    line-height: 1.5em;
    overflow: hidden;
  }
}



