/* CONTAINER/CARD STYLES */
.moods-select-container {
  margin: 10px 50px;
  padding: 20px;
  width: 80%;
  border-radius: 0.75rem;
  p {
    margin-bottom: 10px;
    color: white;
}
h1 {
  color: white;
}
}

.movies-container {
  max-width: 100%;  
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  // margin: 1.5rem auto;
}

.individual-movies-container {
  border-radius: 0.75rem;
  margin: .5rem;
  padding: .5rem;
  height: auto;
  font-size: 13px;
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  max-width: fit-content;

    img {
    margin: 0 auto;
    height: 100%;
    width: 240px;
  }
  .movie-info-on-card {
    padding: 0 20px 10px 20px;
  }

  .overflow-text {
    height: 4.5em; 
    line-height: 1.5em;
    overflow: hidden;
  }
}


.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

// spinner class on loading
#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
