$off-black: rgb(24, 22, 22);
$off-black-transparent: rgba(24, 22, 22, 0.945);

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  color: white;
  height: 70px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.8s;
  align-items: center;
}

.navbar-show-color {
  background: $off-black-transparent;
  color: white;

}

.navbar-default-color {
  background: $off-black;
}

.navbar > img {
  position: fixed;
  left:1em;
}

.navbar > div {
  right: 1em;
}

// .navbar-content-container {
//   display: flex;
//   justify-content: space-between;
//   list-style-type: none;
// }



// @media all and (max-width: 600px) {  
    
//   .navbar-content-container {  
//     flex-wrap: wrap;  
//   }  
    
//   .navbar-content-container > li {  
//     flex-basis: 50%;  
//   }

// }

/* Side navbar styling */
.side-nav-menu-container {
  color:white;
  background-color: $off-black-transparent;
  height: 100%;
  position: fixed;
  z-index: 2;
  right: -100%;
}

.side-nav-menu-container.active {
  right: 0;
  transition: all 0.4s;
}

.navbar-content-container > li {
  padding: 1.2em;
  width: 100%;
  height: 70px;
  display: flex;
  text-align: left;
}

.navbar-item  {
  color:white;
  text-decoration: none;
  font-size: 17px;
  padding: 0 2em;
  text-transform: uppercase;
}

.navbar-item:hover {
  color: rgb(250, 56, 56);
}

.navbar_content_container {
  padding:0.3em;
  width:100%;
}