section#new-movie {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 2rem;
  padding: 30px;
  border-radius: 1rem;
  font-size: 80%;
  margin: 30px;

  .add-movie-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: 2rem;
    padding: 30px;
    border-radius: 1rem;
  }

  img.poster {
    margin: 5px 20px;
    width: 350px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }
  

  .submit-button-container{
    text-align: right;
    margin: 20px;
  }
}
  .ratings-card {
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
    display: inline-flex;
    width: min-content;
    //box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    // height: 100px;
    // width: 100px;
    p {
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
    }
    img {
      height: 50px;
      max-height: 100%;
      display: inline-block;
      margin-right: 5px;
    }
  }